.entry-content p {
    margin-bottom: 0.5em;
}

.gap-custom>.uagb-columns__inner-wrap {
    column-gap: 5em;
}

@media (max-width: 767px) {
    .teste-margin+.teste-margin {
        margin-top: 1em;
    }
}

.border-azul {
    border: solid #005F8E 20px;
    border-radius: 3em;
    padding: 2em 1em;
    height: auto;
    align-self: stretch !important;
}

.border-roxo {
    border: solid #973C74 20px;
    border-radius: 2em;
    padding: 2em 1em;
    height: auto;
    align-self: stretch !important;
}

.border-vermelho {
    border: solid #DA242B 20px;
    border-radius: 2em;
    padding: 2em 1em;
    height: auto;
    align-self: stretch !important;
}

.border-amarelo {
    border: solid #F8C300 20px;
    border-radius: 2em;
    padding: 2em 1em;
    height: auto;
    align-self: stretch !important;
}

.border-verde {
    border: solid #6A9C2C 20px;
    border-radius: 2em;
    padding: 2em 1em;
    height: auto;
    align-self: stretch !important;
}

.border-transparente {
    border: solid transparent 20px;
    border-radius: 2em;
    padding: 2em 1em;
    height: auto;
}

.imagem-cursos {
    border-radius: 30px 20px 20px 30px;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 25%);
    padding: 0 !important;
}

.imagem-cursos img {
    border-radius: 20px 0 0 20px;
}

.bg-cursos-workshops {
    background-image: url("/wp-content/uploads/2022/06/bg-cursos-e-workshops.svg");
    background-position: center;
    background-size: cover;
}


/**
* Five Star Banner
*/

.banner-five-star {
    background-image: url("/wp-content/uploads/2022/06/banner-frames-mobile.png");
    background-position: center 0;
    background-repeat: no-repeat;
}

@media (max-width: 991px){
    .banner-five-star {
        padding-top: 260px !important;
    }
}

@media (min-width: 992px){
    .banner-five-star {
        background-image: url("/wp-content/uploads/2022/06/banner-frames-desktop.png");
        background-position: right 0;
        position: relative;
        background:none;
        min-height: 520px;
    }
    
    .banner-five-star .uagb-section__inner-wrap {
        position:relative;
    }

    .banner-five-star .uagb-section__inner-wrap::after {
        content: '';
        position: absolute;
        top: 0;
        right: -160px;
        width: 680px;
        height: 490px;
        background-image: url(/wp-content/uploads/2022/06/banner-frames-desktop.png);
        z-index: 100;
    }
}

/**
* Five Star Presentations
*/

.five-star-blocos .uagb-section__inner-wrap
 {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px 20px 10px 20px;
}

.five-star-blocos .wp-block-image.size-full {
    margin: 0;
    margin-bottom: 10px;
}

@media (min-width: 992px){
    .five-star-blocos .uagb-section__inner-wrap {
        padding: 20px 70px 10px 70px;
 }
}

/**
* Formulário de Contato
*/

.form-contato {
    background-image:url('/wp-content/uploads/2022/06/frames-coloridos-mobile.png');
    background-position: center 0;
    background-repeat: no-repeat;
}

.form-contato .uagb-section__inner-wrap {
    background-color: #F5F9FC;
    padding: 12px;
    border-radius: 17px;
}

@media (min-width: 992px){
    .form-contato {
        background-image:url('/wp-content/uploads/2022/06/frames-coloridos-desktop.png');
    }

    .form-contato .uagb-section__inner-wrap {
        padding: 80px;
        border-radius: 26px;
    }
}


/**
* Navegação Five Star
*/

.btn-nav-five-star {
    height: 18px;
}

.btn-individual .wp-block-button__link {
    background-image:url('/wp-content/uploads/2022/06/ico-individual.png');
    background-repeat: no-repeat;
    background-position: 12px center;
    padding-left: 30px;
}

.btn-group .wp-block-button__link {
    background-image:url('/wp-content/uploads/2022/06/ico-group.png');
    background-repeat: no-repeat;
    background-position: 12px center;
    padding-left: 37px;
}

@media (min-width: 992px){

    .btn-nav-five-star {
        height: 18px;
    }

    .banner-five-star .wp-container-1.wp-block-buttons {
        margin-bottom: 40px;
    }

    .cta-five-star {
        margin-top: 20px !important;
        width: 240px;
    }

    .cta-five-star .wp-block-button__link {
        width:100%;
    }

}

.btn-cursos-rel-curso {
    
}

.btn-cursos-rel-individual .wp-block-button__link {
    background-image: url(/wp-content/uploads/2022/06/ico-individual.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 50px;
    text-indent: -9999px;
}

.btn-cursos-rel-grupo .wp-block-button__link {
    background-image: url(/wp-content/uploads/2022/06/ico-group.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 50px;
    text-indent: -9999px;
}

.btn-cursos-rel {
    justify-content: flex-end;
    gap: 0rem 1rem;
    position: relative;
}

.cursos-rel-box {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

@media (min-width: 992px){
    .cursos-rel-box {
        border-radius: 30px;
    }
}